*{
    margin: 0px;
}
body{
    min-width: 600px;
    width: 100%;
}
.top-section{
    height: 450px;
    background-image: url("/pexels-eberhard-grossgasteiger-572897.jpg");
    background-size: 100%;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#search-form{
    width: 50%;
    height: 8%;

  
}
.search-bar{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}
#image-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    max-width: 1500px;
    min-width: 600px;
    margin: auto;
    
    
}
.image-column{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;

}


.image-container{
    width: 100%;
    margin-bottom: 3%;
    position:relative;

}

.images{
    width: 100%;
}
.photographer{
    position: absolute;
    bottom: 4px;
    height: 20px;
    color: white;
    padding-top: 20px;
    text-align:left;
    text-indent: 10px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 0px;
    background: linear-gradient(0deg,rgba(43, 42, 42, 0.795), rgba(48, 47, 47, 0.034));
    
    display: block;
    display: none;
    
}

.image-container:hover > .photographer{
    cursor: pointer;
    display:block;
    transition-delay: 0s;
    
    
}

